
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("./images/bg1.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("./images/bg2.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("./images/bg3.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }

  * {box-sizing: border-box;}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.wrapper > div {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  color: black; 
}.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
  text-align: center;
}
.two { 
  grid-column: 2 / 3;
  grid-row: 1;
  text-align: center;
}
.three {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

.four {
  grid-column: 2 / 4;
  grid-row: 1;
  text-align: left;
}

.five{
  grid-column: 2 / 3;
  grid-row: 2;
  text-align: left;
}
.six{
  grid-column: 3 / 4;
  grid-row: 3;
  text-align: left;
}

.seven{
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: left;
}
a {
    text-decoration: none;
    color: gray;
    align-content: center;
}

.ftr{
  text-decoration: none;
  color: black;
}